# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit toolchain-funcs

DESCRIPTION="A library for emulating x86"
HOMEPAGE="https://www.opensuse.org/"
SRC_URI="{{artifacts[0].src_uri}}"

LICENSE="HPND"
SLOT="0"
KEYWORDS="*"

src_prepare() {
	default
	sed -i -e '/^GIT2LOG.*\|^GITDEPS.*\|^BRANCH.*\|^VERSION.*\|^MAJOR_VERSION.*/d' Makefile || die
}

src_configure() {
	tc-export CC
}

src_compile()
{
	emake VERSION="{{version}}" MAJOR_VERSION="{{major_version}}" shared
}

src_install() {
	emake DESTDIR="${ED}" LIBDIR="/usr/$(get_libdir)" VERSION="{{version}}" MAJOR_VERSION="{{major_version}}" install
	dodoc README*
}
